.faq h1 {
    text-align: center;
    margin-top: 5%;
    color: #333;
}

.faq-container {
    width: 80%;
    margin: 5% auto;
    border: 0.5px solid #ccc;
    border-radius: 15px;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.faq-item {
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.faq-question {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    font-weight: 800;
    color: black;
}

.question-number {
    color: #9D96A8;
    margin-right: 10px;
}

.icon {
    margin-left: auto;
    transition: transform 0.3s ease;
}

.faq-answer {
    color: #5A5365;
    font-weight: bold;
    padding: 10px 10px 20px;
}

.faq-answer p {
    line-height: 1.6rem;
}

.faq-item.open {
    background-color: #F2EBFD;
    border-bottom: none;
}

.question-number {
    font-size: 1.5rem;
    margin-right: 10px;
}

.icon .MinusIcon {
    width: 30px;
    height: auto;
}

@media screen and (max-width: 600px) {
    .faq-container {
        width: 97%;
    }
    .faq-question {
        font-size: 0.6rem;
    }
    .faq h1 {
        font-size: 2rem;
    }
    .question-number {
        font-size: 0.6rem;
    }
    .icon .MinusIcon {
        width: 20px;
        height: 20px;
    }
}